{% extends "base.html" %}

{% block content %}

<h2 id="-">Features</h2>
<main class="text-start">
<hr>
<ul>
    <li>Пользователь логинится через SSO</li>
    <li>Username для AD аккаунта формируется из email, указанного в профиле SSO</li>
    <li>Сервис проверяет в базе наличие записи о существовании AD учетки для этого пользователя<ul>
            <li>Если запись существует, пользователю показывается таблица из последнего пункта</li>
            <li>Если записи не существует, предлагается создать новый аккаунт</li>
        </ul>
    </li>
<li>При создании AD аккаунта<ul>
        <li>Если аккаунт с таким username не существует в AD<ul>
                <li>Генерируется пароль</li>
                <li>Создаётся учётная запись</li>
                <li>Создаётся пользовательский OU</li>
                <li>Назначаются права на этот UO путем добавления в группу</li>
            </ul>
        </li>
<li>Если аккаунт с таким username уже существует в AD<ul>
        <li>Генерируется новый пароль</li>
        <li>Пароль аккаунта принудительно сбрасывается на новый</li>
    </ul>
</li>
<li>Данные аккаунта (username, пароль в зашифрованном виде) сохраняются в базе данных и связываются с профилем
    пользователя. Это предотвращает сброс пароля при каждом входе, так как пароль в AD нельзя посмотреть, только
    сбросить</li>
</ul>
</li>
<li>После появления записи об AD аккаунте в БД, результат отображается на страничке в виде списка параметров для
    настройки ADCM</li>
</ul>

</main>

{% endblock %}
