{% extends "base.html" %}

{% block content %}

<main class="text-start">

    <h2 id="-">Features</h2>
    <ol>
    <li>Пользователь авторизуется на страничке через SSO</li>
    <li>Username берется из e-mail из данных SSO и передается сервису в качестве аргумента</li>
    <li>Пользователя создается в БД</li>
    <li>Проверяется наличие записи в таблице ldap_accounts<ul>
    <li>Существует - отображает пользователю параметры подключения</li>
    <li>Не существует - создает новый аккаунт</li>
    </ul>
    </li>
    <li>Сервис идет в AD и для текущего пользователя<ul>
    <li>Если аккаунта в AD не существует<ul>
    <li>Генерирует пароль</li>
    <li>Создает аккаунт, который равен username пользователя</li>
    <li>Создает OU</li>
    <li>Добавляет пользователя в группу</li>
    <li>Создает запись в БД</li>
    </ul>
    </li>
    <li>Если аккаунт существует<ul>
    <li>Генерирует новый пароль и принудительно сбрасывает его</li>
    </ul>
    </li>
    </ul>
    </li>
    <li>Записывает данные в БД, где этот аккаунт привязан к ранее созданному пользователю, чтобы не менять пароль каждый раз при входе на страничку сервиса, т.к. в AD нельзя просто так посмотреть пароль, можно только сбросить.</li>
    <li>Показыват пользователю таблицу со значениями параметров подключения</li>
    </ol>

</main>

{% endblock %}
