<header class="mb-auto">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <img src="/static/logo-light.png" alt="AD.AM Logo" class="logo-light me-2">
            <img src="/static/logo-dark.png" alt="AD.AM Logo" class="logo-dark me-2">
        </div>
        <div class="d-flex align-items-center">
            <nav class="nav nav-masthead ms-3">
                <a class="nav-link fw-bold py-1 px-0 {% if request.url.path == '/' %}active{% endif %}" aria-current="page"
                    href="/">Home</a>
                {% if user is not defined %}
                <a class="nav-link fw-bold py-1 px-0 {% if request.url.path == '/features' %}active{% endif %}"
                    href="/features">Features</a>
                {% endif %}
                {% if user is defined %}
                <a class="nav-link fw-bold py-1 px-0" href="/logout">Logout</a>
                {% endif %}
                {% if user is defined and user.picture %}
                <div class="ms-3">
                    <img src="{{ user.picture }}" alt="User icon" class="rounded-circle" width="40" height="40">
                </div>
                {% endif %}
            </nav>
        </div>
    </div>
</header>
