{% extends "base.html" %}

{% block content %}
<main class="mt-4">

  {% if message %}
  <div class="alert {% if 'Ошибка' in message %}alert-danger{% else %}alert-success{% endif %}">
    {{ message }}
  </div>
  {% endif %}

  {% if ad_accounts %}
  <h2>Existing AD account</h2>
  <hr>
  <div class="table-container">
  <table class="table table-striped">
    <tbody>
      {% for account in ad_accounts %}
      {% for column in columns %}
      {% if column not in ['sso_user_id', 'sso_users'] %}
      <tr>
        <th>{{ column | replace("_", " ") }}</th>
        <td>{{ account[column] }}</td>
      </tr>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </tbody>
  </table>
  </div>
  <hr>
  <h2>Reset AD account password</h2>
  <form action="/api/v1/users/{{ user.id }}/ldap_account/reset_password" method="post"
    class="d-flex flex-column align-items-center">
  
    <div class="mb-2 text-center">
      <button type="submit" class="btn btn-outline-danger py-2" id="resetButton" disabled>Reset password</button>
    </div>
    <div class="form-check mb-2 text-center">
      <input type="checkbox" class="form-check-input" id="confirmReset"
        onchange="document.getElementById('resetButton').disabled = !this.checked;">
      <label class="form-check-label" for="confirmReset">I'm absolutely sure!</label>
    </div>
    <div class="mb-2 text-center">
      <small class="text-muted">A new password will be generated automatically</small>
    </div>
  </form>
  {% else %}

  <h2>Creating new AD account</h2>
  <hr>
  <p class="lead">
  <form action="/api/v1/users/{{ user.id }}/ldap_account" method="post" style="display: inline;">
    <button type="submit" class="btn btn-primary py-2">Create</button>
  </form>
  </p>
  {% endif %}
</main>
{% endblock %}
